In [1]:
!pip install -r requirements.txt

Collecting pandas
  Downloading pandas-2.2.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 7.0 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting numpy
  Using cached numpy-1.26.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
Collecting matplotlib
  Downloading matplotlib-3.9.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.3/8.3 MB 6.5 MB/s eta 0:00:00m eta 0:00:010:01:01
Collecting scikit-learn
  Downloading scikit_learn-1.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.3/13.3 MB 3.7 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 KB 4.6 MB/s eta 0:00:00[36m0:00:01m eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.10/site-packages (from pandas->-r requirements.txt (line 1)) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 KB 4.5 MB/s eta 0:00:00 MB/s eta 0:00:01
Collecting cycler>=0.10
  Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.10/site-packages (from matplotlib->-r requirements.txt (line 3)) (24.0)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.2.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (305 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 305.2/305.2 KB 5.4 MB/s eta 0:00:00 MB/s eta 0:00:01
Collecting fonttools>=4.22.0
  Downloading fonttools-4.52.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.6/4.6 MB 5.0 MB/s eta 0:00:00m eta 0:00:010:01:01
Collecting kiwisolver>=1.3.1
  Using cached kiwisolver-1.4.5-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.1.2-py3-none-any.whl (103 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.2/103.2 KB 8.7 MB/s eta 0:00:00
Collecting pillow>=8
  Downloading pillow-10.3.0-cp310-cp310-manylinux_2_28_x86_64.whl (4.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 5.7 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting joblib>=1.2.0
  Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 301.8/301.8 KB 6.7 MB/s eta 0:00:00 MB/s eta 0:00:01
Collecting scipy>=1.6.0
  Downloading scipy-1.13.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (38.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.6/38.6 MB 4.8 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting threadpoolctl>=3.1.0
  Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.16.0)
Installing collected packages: pytz, tzdata, threadpoolctl, pyparsing, pillow, numpy, kiwisolver, joblib, fonttools, cycler, scipy, pandas, contourpy, scikit-learn, matplotlib
Successfully installed contourpy-1.2.1 cycler-0.12.1 fonttools-4.52.4 joblib-1.4.2 kiwisolver-1.4.5 matplotlib-3.9.0 numpy-1.26.4 pandas-2.2.2 pillow-10.3.0 pyparsing-3.1.2 pytz-2024.1 scikit-learn-1.5.0 scipy-1.13.1 threadpoolctl-3.5.0 tzdata-2024.1

In [1]:
import ast
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import TfidfTransformer

In [2]:
movie_info = pd.read_csv('/home/nikunj/Downloads/movie-recommendation-revenue-prediction/data/tmdb_5000_movies.csv')
movie_info_detailed = pd.read_csv('/home/nikunj/Downloads/movie-recommendation-revenue-prediction/data/tmdb_5000_credits.csv')

In [3]:
movie_info.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [6]:
movie_info.rename(columns={'id': 'movie_id'}, inplace=True)

In [10]:
movie_info_detailed.head(3)

,budget,genres,homepage,movie_id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [11]:
merged_df = pd.merge(left=movie_info, right=movie_info_detailed, left_on='movie_id', right_on='movie_id', how='inner')

In [12]:
merged_df.shape[0]

4803

In [13]:
merged_df.describe()

,budget,movie_id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [14]:
merged_df.drop_duplicates(inplace=True)

In [15]:
merged_df[['vote_average', 'vote_count', 'title_x']].isnull().sum()

vote_average    0
vote_count      0
title_x         0
dtype: int64

In [16]:
merged_df.describe()

,budget,movie_id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [17]:
merged_df.drop('id', axis=1, inplace=True)

KeyError: "['id'] not found in axis"

In [18]:
merged_df[merged_df['title_x']!=merged_df['title_y']]

Empty DataFrame
Columns: [budget, genres, homepage, movie_id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title_x, vote_average, vote_count, title_y, cast, crew]
Index: []

[0 rows x 23 columns]

In [19]:
merged_df.drop('title_y', inplace=True, axis=1)
merged_df.rename(columns={'title_x': 'title'}, inplace=True)

In [23]:
merged_df[merged_df["title"]!=merged_df["original_title"]][["original_language","title","original_title"]].head(5)

,original_language,title,original_title
97,ja,Shin Godzilla,シン・ゴジラ
215,en,Fantastic 4: Rise of the Silver Surfer,4: Rise of the Silver Surfer
235,fr,Asterix at the Olympic Games,Astérix aux Jeux Olympiques
317,zh,The Flowers of War,金陵十三釵
474,fr,Evolution,Évolution

In [25]:
merged_df[(merged_df['title']!=merged_df['original_title'])&(merged_df['original_language']=='en')][['original_language', 'title', 'original_title']].head(5)

,original_language,title,original_title
215,en,Fantastic 4: Rise of the Silver Surfer,4: Rise of the Silver Surfer
488,en,Arthur and the Invisibles,Arthur et les Minimoys
561,en,Two Brothers,Deux frères
719,en,This Is It,Michael Jackson's This Is It
1255,en,The Impossible,Lo imposible

In [26]:
merged_df.drop(columns=["original_title", "homepage"], inplace=True, axis=1)

In [27]:
movies_df = merged_df.copy()

In [28]:
ast.literal_eval(movies_df["spoken_languages"][0])

[{'iso_639_1': 'en', 'name': 'English'},
 {'iso_639_1': 'es', 'name': 'Español'}]

In [29]:
list(set([i["name"] for i in ast.literal_eval(movies_df["spoken_languages"][0])][:10]))

['English', 'Español']

In [32]:
def get_first_ten_names(row):
    row_list = ast.literal_eval(row)
    first_ten_unique_name = set([i['name'] for i in row_list][:10])
    first_ten_names = ", " .join(f"{name.replace(' ', '')}" for name in first_ten_unique_name)
    return first_ten_names

In [33]:
movies_df['cast'] = movies_df['cast'].apply(get_first_ten_names)
movies_df['crew'] = movies_df['crew'].apply(get_first_ten_names)
movies_df['genres'] = movies_df['genres'].apply(get_first_ten_names)
movies_df['keywords'] = movies_df['keywords'].apply(get_first_ten_names)
movies_df['spoken_languages'] = movies_df['spoken_languages'].apply(get_first_ten_names)
movies_df['production_companies'] = movies_df['production_companies'].apply(get_first_ten_names)
movies_df['production_countries'] = movies_df['production_countries'].apply(get_first_ten_names)

In [34]:
movies_df.head(3)

,budget,genres,movie_id,keywords,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,237000000,"Adventure, ScienceFiction, Action, Fantasy",19995,"society, space, romance, spacewar, spacetravel...",en,"In the 22nd century, a paraplegic Marine is di...",150.437577,"TwentiethCenturyFoxFilmCorporation, Lightstorm...","UnitedKingdom, UnitedStatesofAmerica",2009-12-10,2787965087,162.0,"English, Español",Released,Enter the World of Pandora.,Avatar,7.2,11800,"JoelDavidMoore, ZoeSaldana, MichelleRodriguez,...","RickCarter, ChristopherBoyes, JamesCameron, Ja..."
1,300000000,"Adventure, Action, Fantasy",285,"shipwreck, eastindiatradingcompany, alliance, ...",en,"Captain Barbossa, long believed to be dead, ha...",139.082615,"SecondMateProductions, JerryBruckheimerFilms, ...",UnitedStatesofAmerica,2007-05-19,961000000,169.0,English,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"JohnnyDepp, ChowYun-fat, OrlandoBloom, BillNig...","JerryBruckheimer, EricMcLeod, HansZimmer, Crai..."
2,245000000,"Adventure, Crime, Action",206647,"spy, mi6, sequel, basedonnovel, secretagent, b...",en,A cryptic message from Bond’s past sends him o...,107.376788,"Danjaq, B24, ColumbiaPictures","UnitedKingdom, UnitedStatesofAmerica",2015-10-26,880674609,148.0,"Italiano, Français, English, Español, Deutsch",Released,A Plan No One Escapes,Spectre,6.3,4466,"LéaSeydoux, AndrewScott, DanielCraig, MonicaBe...","SamMendes, DanielCraig, JohnLogan, DennisGassn..."